<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>block.png</key>
		<dict>
			<key>x</key>
			<integer>718</integer>
			<key>y</key>
			<integer>227</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bonus.png</key>
		<dict>
			<key>x</key>
			<integer>646</integer>
			<key>y</key>
			<integer>227</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bonus_used.png</key>
		<dict>
			<key>x</key>
			<integer>574</integer>
			<key>y</key>
			<integer>227</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bush.png</key>
		<dict>
			<key>x</key>
			<integer>502</integer>
			<key>y</key>
			<integer>227</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>26</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>26</integer>
		</dict>
		<key>cloud_1.png</key>
		<dict>
			<key>x</key>
			<integer>371</integer>
			<key>y</key>
			<integer>227</integer>
			<key>width</key>
			<integer>129</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>129</integer>
			<key>originalHeight</key>
			<integer>63</integer>
		</dict>
		<key>cloud_2.png</key>
		<dict>
			<key>x</key>
			<integer>241</integer>
			<key>y</key>
			<integer>227</integer>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>63</integer>
		</dict>
		<key>cloud_3.png</key>
		<dict>
			<key>x</key>
			<integer>111</integer>
			<key>y</key>
			<integer>227</integer>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>63</integer>
		</dict>
		<key>coin.png</key>
		<dict>
			<key>x</key>
			<integer>74</integer>
			<key>y</key>
			<integer>227</integer>
			<key>width</key>
			<integer>35</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>35</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>crate.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>227</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>exit.png</key>
		<dict>
			<key>x</key>
			<integer>815</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>201</integer>
			<key>height</key>
			<integer>223</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>207</integer>
			<key>originalHeight</key>
			<integer>223</integer>
		</dict>
		<key>fence.png</key>
		<dict>
			<key>x</key>
			<integer>743</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>61</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>61</integer>
		</dict>
		<key>fence_broken.png</key>
		<dict>
			<key>x</key>
			<integer>671</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>61</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>61</integer>
		</dict>
		<key>grass.png</key>
		<dict>
			<key>x</key>
			<integer>634</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>35</integer>
			<key>height</key>
			<integer>40</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>35</integer>
			<key>originalHeight</key>
			<integer>40</integer>
		</dict>
		<key>ground.png</key>
		<dict>
			<key>x</key>
			<integer>562</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>ground_cave.png</key>
		<dict>
			<key>x</key>
			<integer>490</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>hill_long.png</key>
		<dict>
			<key>x</key>
			<integer>440</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>146</integer>
		</dict>
		<key>hill_short.png</key>
		<dict>
			<key>x</key>
			<integer>390</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>48</integer>
			<key>height</key>
			<integer>102</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>48</integer>
			<key>originalHeight</key>
			<integer>102</integer>
		</dict>
		<key>shroom.png</key>
		<dict>
			<key>x</key>
			<integer>349</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>39</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>39</integer>
			<key>originalHeight</key>
			<integer>34</integer>
		</dict>
		<key>spikes.png</key>
		<dict>
			<key>x</key>
			<integer>277</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>35</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>35</integer>
		</dict>
		<key>start.png</key>
		<dict>
			<key>x</key>
			<integer>74</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>201</integer>
			<key>height</key>
			<integer>223</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>207</integer>
			<key>originalHeight</key>
			<integer>223</integer>
		</dict>
		<key>water.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>45</integer>
		</dict>
	</dict>
</dict>
</plist>