
root { 
    display: block;
}

body {
    background-color: #dedede;
    font-family: SegoeUILight, 'Segoe UI Light', SegoeUI, 'Segoe UI', arial, sans-serif;        
}

#cr-stage 
{
    
    border: 1px solid black;
    background-color: white;
}

h1 {
    font-size: 18px;
}

#cr-outer {    
    display: block;
    width: 480px;
    height: 400px;
    margin: 100px auto;    
}

table {
    height: 100%;
    width: 100%;
    border-collapse: 0px;
    border: none;
}

.gpoints {
    display: inline;
    font-weight: bolder;
}